body {
  background-color: #2c2c2c;
  color: #333;
}

.wrapper {
  background-color: #A80C0D;
}

.navbar {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
  font-size: 1.5em;
}

.navbar-nav {
	float: right;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
}

.label {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
  font-size: 1em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

.list {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  line-height: normal;
}

.overlay-home {

  color: #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  text-align: center;
}

.overlay {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ebebeb;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

.spotlight {
  text-align: center;
  padding: 2%;
  font-size: 1.5em;
  margin: 6% 0;
}

.top-banner {
  margin-bottom: 2%;
}

.btn-hp {
  background-color: #E2AF34;
  border-color: #E2AF34;
}

.btn-hp:hover {
  background-color: #E2AF34;
  border-color: #E2AF34;
  color: #333;
  font-weight: bold;
}

.btn-second {
  background-color: #8D8989;
  border-color: #8D8989;
  color: #FFFFFF;
}

.btn-second:hover {
  background-color: #8D8989;
  border-color: #8D8989;
  color: #333;
  font-weight: bold;
}

.ctas {
  text-align: center;
  width: 100%;
}

.intro {
  margin-bottom: 2%;
}

.intro-blurb {
  font-size: 2.2em;
  line-height: 1.1em;
  padding: 2%;
}

.intro-subhead {
  font-size: 1.4em;
  line-height: 1em;
  padding: 2%;
}

a {
  color: #E2AF34;
}

a:hover {
  color: #E2AF34;
}

.header {
  margin-bottom: 2%;
}

#footer {
	padding: 1%;
	font-size: 1em;
	text-align: right;
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #020202;
  border-top: 2px #8D8989 solid;
}

blockquote {
  margin-top: 3%;
  background-color: #333333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  border-left: none;
  padding: 1%;
}

blockquote p {
  font-size: 1.1em;
  line-height: 2em;
}

.contact, .skills, .clients, .portfolio-links, .featured {
  padding: 2%;
}

.skills {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  padding: 3%;
}

.skills h2 {
  text-align: center;
}

.featured-thumbnail {
  float: left;
  padding: 0 2% 0 0;
}

.meet-BRD {
  margin-top: 1.5%;
  margin-left: 3%;
  
}

.about-yael {
  margin-bottom: 3%;
}

.about-yael img {
  margin-bottom: 3%;
}

.about-left h2 {
  text-align: center;
}

.about-left p {
  text-align: center;
}

.about-icons {
  text-align: center;
}

.more-about {
  margin-top: 2%;
}

.about-yael-services {
  margin-top: 1.5%;
}

.about-yael-services.overlay {
  padding: 1%;
}

.more-services.overlay {
  padding: 2%;
}

.about-yael-services p {
  margin-top: 1%;
}

.portfolio-main-content {
  border-top: solid 2px #B30008;
  margin-top: 2%;
}

.proj-challenge, .proj-actual, .proj-outcome, .proj-eval {
  margin: 2% 0;
}

.portfolio-img img {
  margin: 2% 0;
}

.portfolio-img p {
  font-size: 0.6em;
  font-style: italic;
}

.project-meta {
  background-color: #E2AF34;
  color: #333333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

.project-meta p {
  padding-left: 2%;
}

#footer h2 {
  color: #FFFFFF; 
}

#footer p {
  color: #FFFFFF; 
}

.thumbnails {
  list-style: none;
}

.piece {
  border-top: solid 2px #A80C0D;
  padding: 2% 0 0 0;
  text-align: center;
  margin: 5%;
}

.yael-skills {
  border-top: solid 2px #A80C0D;
  margin: 4% 0;
  padding: 1% 0;
}

.yael-process {
  border-top: solid 2px #A80C0D;
  margin: 4% 0;
  padding: 1% 0;
}

.yael-exp {
  border-top: solid 2px #A80C0D;
  margin: 4% 0;
  padding: 1% 0;
}

.reco {
  border-top: solid 2px #A80C0D;
  margin: 4% 0 4% 0;
  padding: 1% 0 1% 0;
}

.label {
  background-color: #E2AF34;
}

.homepage-pics {
	margin-top: 4%
}