.placeholder-images.first {
  background-color: purple;
}

.placeholder-images.second {
  background-color: blue;
}

ul li:hover {
  color: red;
}

.intro-blurb {
  font-size: 2.8em;
  line-height: 1.1em;
}

a {
  color: #B61313;
}

a:hover {
  color: #B61313;
}

.header {
  margin-bottom: 2%;
}

.hp-cta {
  background-color: #d6d6d6;
  padding: 2%;
}