<div class="clients">
  <a href="http://www.cancerresearchuk.org/" target="_blank"><img src="images/Clients/cruk_logo_image.jpg" alt="cancer research logo" /></a>
  <a href="http://justgiving.com" target="_blank"><img src="images/Clients/jg-logo-header-new.png" alt="justgiving logo" /></a>
  <a href="http://www.storyworldwide.com/" target="_blank"><img src="images/Clients/LogoBlackSmall.png" alt="Story Worldwide logo"/></a>
  <a href="http://moshimonsters.com" target="_blank"><img src="images/Clients/moshi_monster_logo.png" alt="moshi monsters logo"/></a>
  <a href="http://www.analogfolk.com/" target="_blank"><img src="images/Clients/analogfolk.jpg" alt="analog folk logo"/></a>   
  <a href="http://www.ey.com/" target="_blank"><img src="images/Clients/ernst-and-young-logo.jpg" alt="Ernst & Young logo"/></a>
  <a href="http://www.desperadosbeer.com/" target="_blank"><img src="images/Clients/desperados-logo.jpg" alt="Desperados beer logo"/></a>
  <a href="http://www.howsplendid.com/" target="_blank"><img src="images/Clients/splendidlogoweb.gif" alt="Splendid logo"/></a>   
</div>