<div class="clients hidden-xs hidden-sm">
  <a href="http://www.cancerresearchuk.org/" target="_blank"><img src="images/clients/cruk.png" alt="cancer research logo" /></a>
  <a href="http://justgiving.com" target="_blank"><img src="images/clients/jg.png" alt="justgiving logo" /></a>
  <a href="http://moshimonsters.com" target="_blank"><img src="images/clients/moshi.png" alt="moshi monsters logo"/></a>
  <a href="http://www.analogfolk.com/" target="_blank"><img src="images/clients/af.png" alt="analog folk logo"/></a>   
  <a href="http://www.ey.com/" target="_blank"><img src="images/clients/ey.png" alt="Ernst & Young logo"/></a>
  <a href="http://www.hsbc.co.uk/" target="_blank"><img src="images/clients/hsbc.png" alt="HSBC logo"/></a> 
  <a href="http://www.osper.com/" target="_blank"><img src="images/clients/osper.png" alt="Osper logo"/></a>  
</div>