<div class="clients">
  <a href="http://www.cancerresearchuk.org/" target="_blank"><img src="images/Clients/cancer_research_logo.png" alt="cancer research logo" /></a>
  <a href="http://justgiving.com" target="_blank"><img src="images/Clients/jg-logo-header-new.png" alt="justgiving logo" /></a>
  <a href="http://moshimonsters.com" target="_blank"><img src="images/Clients/moshi_monster_logo.png" alt="moshi monsters logo"/></a>
  <a href="http://www.analogfolk.com/" target="_blank"><img src="images/Clients/analogfolk.png" alt="analog folk logo"/></a>   
  <a href="http://www.ey.com/" target="_blank"><img src="images/Clients/ey_logo.png" alt="Ernst & Young logo"/></a>
  <a href="http://www.hsbc.co.uk/" target="_blank"><img src="images/Clients/hsbc_logo.png" alt="HSBC logo"/></a> 
  <a href="http://www.osper.com/" target="_blank"><img src="images/Clients/osper_logo.png" alt="Osper logo"/></a>  
</div>