<div class="overlay contact">
  <h2>Get in touch!</h2>
  <p><img src="images/email.png" alt="mail" width="20" height="20" /> <a href="mailto:hello@badrobotdesign.com?Subject=Hello">hello@badrobotdesign.com</a></p>
  <p><img src="images/facebook.png" alt="facebook" width="20" height="20"/> <a href="http://facebook.com/wearebadrobotdesign" target="_blank">wearebadrobotdesign</a></p>
  <p><img src="images/twitter.png" alt="twitter" width="20" height="20"/> <a href="http://twitter.com/badrobotHQ" target="_blank">@BadRobotHQ</a></p>
</div>