<div class="overlay contact">
  <h2>Get in touch!</h2>
  <p><img src="images/email.png" alt="mail" width="20" height="20" /> <a href="mailto:dominique@badrobotdesign.com?Subject=Hello">Email us</a></p>
  <p><img src="images/facebook.png" alt="facebook" width="20" height="20"/> <a href="http://facebook.com/badrobotdesign" target="_blank">On Facebook</a></p>
  <p><img src="images/twitter.png" alt="twitter" width="20" height="20"/> <a href="http://twitter.com/yaellevey" target="_blank">On Twitter</a></p>
  <p><img src="images/linkedin.png" alt="linkedin" width="20" height="20"/> <a href="http://uk.linkedin.com/in/yaellevey" target="_blank">On LinkedIn</a></p>
</div>