<div id="footer">

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <h2>Get in touch!</h2>
      <p><img src="images/email.png" alt="mail" width="20" height="20" /> <a href="mailto:hello@badrobotdesign.com?Subject=Hello">hello@badrobotdesign.com</a></p>
      <p><img src="images/facebook.png" alt="facebook" width="20" height="20"/> <a href="http://facebook.com/wearebadrobotdesign" target="_blank">wearebadrobotdesign</a></p>
      <p><img src="images/twitter.png" alt="twitter" width="20" height="20"/> <a href="http://twitter.com/badrobotHQ" target="_blank">@BadRobotHQ</a></p>
    </div>
    <div class="col-md-9">
      <h2>Copyright &copy; 2012-2015, Bad Robot Design Ltd</h3>
      <p>Company Registration Number: 8079562<br> Registered in England &amp; Wales<br>Registered Office Address: Unit 11, Hove Business Centre, Fonthill Road, Hove, BN3 6HA</p>
    </div>
  </div>
</div>

</div>