<div id="footer">

<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <h2>Get in touch!</h2>
      <p><img src="images/twitter.png" alt="twitter" width="20" height="20"/> <a href="http://twitter.com/badrobotHQ" target="_blank">@yaellevey</a></p>
      <p><img src="images/twitter.png" alt="instagram" width="20" height="20"/> <a href="http://instagram.com/iamnotmypixels" target="_blank">I am not my pixels</a></p>
    </div>
    <div class="col-md-9">
      <h2>Copyright &copy; 2016, Yael Levey</h3>
    </div>
  </div>
</div>

</div>