<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  
  <title>Bad Robot Design - {{page.title}}</title>
  <meta name="description" content="Bad Robot Design: user experience design consultancy">
  <meta name="keywords" content="user experience design, UX designer, freelance, portfolio, UX, London">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  <link href="css/styles.css" rel="stylesheet">
  
  <!-- Add jQuery library -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

  <!-- Add fancyBox -->
  <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
  
  <meta property="og:title" content="Bad Robot Design: No good robots allowed!"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://badrobotdesign.com"/>
  <meta property="og:image" content="http://badrobotdesign.com/images/logo-1.png"/>
  <meta property="og:site_name" content="Bad Robot Design"/>
  <meta property="og:description" content="We are a UX design consultancy based in London. We love making pleasurable digital experiences that just work. No good robots allowed."/>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34673276-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>    
</head>
<body>
  {% include navbar.html %}
  
  <div class="wrapper">
    <div class="container">
      <div class="row">
      <h1>Bad Robot</h1>
      </div>
    
      {{ content }}
      
    </div>
  </div>
  
  {% include footer.html %}
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  
    <script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox();
		});
	</script>
  
  <script type="text/javascript">
    $('#navbar').scrollspy()
  </script>
</body>
</html>