<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  
  <title>Bad Robot Design - {{page.title}}</title>
  <meta name="description" content="Bad Robot Design: user experience design consultancy">
  <meta name="keywords" content="user experience design, UX designer, freelance, portfolio, UX, London">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  <link href="../../css/styles.css" rel="stylesheet">
  <link href="../../lib/fancybox/jquery.fancybox.css" rel="stylesheet">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34673276-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>    
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="../../index.html"><img src="../../images/logo-tiny.png" alt="logo-smallest" />  Bad Robot Design</a>
    </div>
   <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="../../index.html">Home</a></li>
        <li class="divider-vertical"></li>
        <li><a href="../../badrobots.html">Who we are</a></li>
        <li class="divider-vertical"></li>
        <li class="active"><a href="../../make.html">Our Work</a></li>
        <li class="divider-vertical"></li>
        <li><a href="../../happy.html">Happy Clients</a></li>
        <li class="divider-vertical"></li>
        <li><a href="http://blog.badrobotdesign.com/">Our Blog</a></li>
      </ul>
    </div>  
  </nav>

<div class="wrapper">  
  <div class="container">
    <a name="top"></a>
    <div class="row">
      <div class="col-md-12 header">
        <h1>Bad Robot Design</h1>
      </div>
    </div>
    
    {{ content }}
    
    </div>
  </div>
  
  <div id="footer">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <h2>Get in touch!</h2>
          <p><img src="/../images/email.png" alt="mail" width="20" height="20" /> <a href="mailto:hello@badrobotdesign.com?Subject=Hello">hello@badrobotdesign.com</a></p>
          <p><img src="/../images/facebook.png" alt="facebook" width="20" height="20"/> <a href="http://facebook.com/wearebadrobotdesign" target="_blank">wearebadrobotdesign</a></p>
          <p><img src="/../images/twitter.png" alt="twitter" width="20" height="20"/> <a href="http://twitter.com/badrobotHQ" target="_blank">@BadRobotHQ</a></p>
        </div>
        <div class="col-md-9">
          <h2>Copyright &copy; 2012-2013, Bad Robot Design Ltd</h3>
          <p>Company Registration Number: 8079562<br> Registered in England &amp; Wales<br>Registered Office Address: Unit 11, Hove Business Centre, Fonthill Road, Hove, BN3 6HA</p>
        </div>
      </div>
    </div>  
  </div>
  
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  <script src="../../lib/fancybox/jquery.fancybox.js"></script>
  
  <script type="text/javascript">
    $('#navbar').scrollspy();
    $('#myModal').modal();
    
    $(document).ready(function() {
      $(".lightbox").fancybox({
        helpers: {
          title : {
            type : 'float'
          }
        }
      });
    });
    
    $("#names li").click (function () {
      var name = $(this).text() ;
      var newpara = $("<p>" + name + "</p>")
        .hide()
        .click (function () {
          $(this)
            .fadeOut("fast", function(){
              $(this).remove();
            });
        });
      $("#list-info").append(newpara.fadeIn());
    });
  </script>
</body>
</html>